{% macro addRegion(settings, content) %}
  <div class="{{ settings.classes }}">
    {{ attribute(content, settings.machine_name) }}
    {% for child in settings.children %}
      {{ _self.addRegion(child, content) }}
    {% endfor %}
  </div>
{% endmacro %}
<div class="flexible-layout">
  {{ _self.addRegion(settings.layout, content) }}
</div>
